body {
  background-color: #fcdc00;
  margin: 0px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.container label {
  margin-top: 15px;
}

.validation-error {
  border: 2px solid red;
}

.error-message {
  display: none;
}

.validation-error + .error-message {
  display: block !important;
}
